body {
    margin: 0;
    padding: 0;
    font-size: 15pt;
    box-sizing: border-box;
}
.myform{
    margin: 20px;
    padding: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #333;
    border-radius: 10px;
}
div{
    margin: 10px;
    padding: 10px;
}
li {
    list-style: none;
}
input{
    margin: 5px;
    padding: 5px;
    text-align: center;
}
label{
    text-align: center;
    margin-left: 10px;
    
}
#submit{
    display: block;
    padding: 30px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background: indianred;
    
}
#notValidMessage{
    text-align: center;
    color: red;
}
